html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    style.
           html {
                background-color:black;
                color:white;
                font-family: 'Open Sans', sans-serif;
            }
            body{
                 margin: auto;
                 width: 200px;
            }
            .logos{
               margin:auto;
               width:200%;
            }
            .iog-logo{

                width:100px;
            }
            .konnectid-logo{
                width:100px;
            }
  body
    h1= message
    h4=env